.navbar {
  width: 90%;
  margin-right: auto;
  padding-block: 2rem;
  background-color: rgba(255, 85, 255, 0.2) !important;
}
.navbar .navbar-nav {
  gap: 0.5rem;
  flex: none;
}
.navbar .navbar-nav li .active {
  color: "green";
  background-color: "red";
  border-radius: 6.25rem;
}
.navbar .navbar-nav li .link {
  color: #fff;
  background-color: rgba(255, 85, 255, 0.2);
  border-radius: 6.25rem;
  padding-inline: 2rem;
  padding-block: 1rem;
}
.navbar .container {
  justify-content: space-around;
  padding-inline: 2.5rem;
}
.navbar .container .navbar-brand {
  margin-right: 0;
  width: 8.875rem;
}
.navbar .container .navbar-collapse .navbar-nav {
  flex-shrink: 0;
  gap: 3rem;
}
.navbar .container .navbar-collapse .navbar-nav .nav-link {
  padding-inline: 0;
}